# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
fabric/runs/server
fabric/runs/client/*
!fabric/runs/client/screenshots
neoforge/run/*
!neoforge/run/screenshots

