# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
/.idea/

# gradle
build
.gradle

# other
eclipse
run
runs

# folders
/buildSrc/
/common/
/fabric
/forge/
/neoforge/
